<link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">

<mat-toolbar class="navbar">
    <i class="fa-solid fa-comments fa-2xl" style="color: #63E6BE;"></i>
      <span class="head">Chat App</span>
    <button class="fa-solid fa-xmark fa-xl close" style="color: rgb(250, 250, 250);"></button>
  </mat-toolbar>
 
<div class="body">
  <mat-drawer-container class="example-container" autosize>
    <i class="fa-regular fa-comment fa-xl chat"></i>
    <i class="fa-solid fa-phone fa-xl phn"></i>
  </mat-drawer-container>

   
 
  <div class="list">
    <div class="search-container">
      <input type="text" placeholder="Search..." class="search-box">
      <button class="fa-solid fa-magnifying-glass search"></button>
    </div>
    <ul>
      <li>
        <img src="https://via.placeholder.com/50" alt="Profile Picture">
        <span class="contact-name">Mr.Hackathon</span>
      </li>
      <li>
        <img src="https://via.placeholder.com/50" alt="Profile Picture">
        <span class="contact-name">Safi Da</span>
      </li>
      <li>
        <img src="https://via.placeholder.com/50" alt="Profile Picture">
        <span class="contact-name">Devasmita Di</span>
      </li>
      <li>
        <img src="https://via.placeholder.com/50" alt="Profile Picture">
        <span class="contact-name">CA3</span>
      </li>
    </ul>
  </div>

</div>
 
  
